.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 9.375rem;
  margin-top: 2em;
  border-top: 3px solid #111;
  color: #FFF;
}

.footer span {
  font-weight: bold;
}